<nav >
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Logo</a>
    <a  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]= "['/main']" routerLinkActive="active">Головна</a></li>
      <li><a [routerLink]= "['/list']" [queryParams]="{'page':0,'range':10}" queryParamsHandling="merge"  routerLinkActive="active">Список користувачів</a></li>
      <li><a [routerLink]= "['/details/id']" routerLinkActive="active">Деталі</a></li>
     
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo" #sidenav>
      <li><a [routerLink]= "['/main']" routerLinkActive="active">Головна</a></li>
      <li><a [routerLink]= "['/list']" [queryParams]="{'page':0,'range':10}" queryParamsHandling="merge" routerLinkActive="active" >Список користувачів</a></li>
      <li><a [routerLink]= "['/details/id']" routerLinkActive="active">Деталі</a></li>
</ul>
<router-outlet></router-outlet>
